
.wbsearchcontainer
{
position: relative;
height: 1px;
}
.wbsearchbox
{
position: absolute;
right: 0px;
display:block;
}
.wbsearchbox input
{
width: 400px;
}

.wbsearchresultcontainer
{
position: absolute;
right: 0px;
top: 30px;
}

.wbsearchresultlist
{
list-style-type:none;
padding: 0px;
margin: 0px;
border: 1px solid #AAAAAA;
min-width: 500px;
}

.wbsearchresultlist .wbsearchboxsel
{
background-color: #DDDDDD;
}

.wbsearchresultlist li
{
background-color: #FAFAFA;
margin: 0px;
padding: 5px;
}

.wbsearchresultlist .itemelem
{
margin: 0px 5px 0px 0px;
display: block;
float:left;
}

.wbsearchresultlist .itemtype
{
font-size: 0.8em;
color: #BABABA;
width: 80px;
}


.wbsearchbox::-ms-clear
{
display:none;
}	
.clear
{
clear: both;
}
